.background-imgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/1l.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    z-index: -1;
}

.background-imgd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/1d.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    z-index: -1;
}

.background-imgal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/al.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    z-index: -1;
}

.background-imgad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/ad.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    z-index: -1;
}

.background-cl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/cl.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    z-index: -1;
}

.background-cd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/cd.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    z-index: -1;
}

